@model CMSCore.Models.Topic

@{
    ViewData["Title"] = "Create";
}
<div class="services-breadcrumb-w3ls-agile">
    <div class="inner_breadcrumb">
        <ul class="short">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a><span>|</span></li>
            <li><a asp-area="Admin" asp-controller="Topics" asp-action="Index">Topic</a><span>|</span></li>
            <li>Create</li>
        </ul>
    </div>
</div>
<div class="login" style="padding-left:200px;padding-right:200px;padding-bottom:50px;padding-top:50px">
    <h3 class="sign" style="background-color:aliceblue">Create Topic</h3>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadLine" class="control-label"></label>
                <input asp-for="DeadLine" class="form-control" />
                <span asp-validation-for="DeadLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadLine_2" class="control-label"></label>
                <input asp-for="DeadLine_2" class="form-control" />
                <span asp-validation-for="DeadLine_2" class="text-danger"></span>
            </div>
            <div class="@(String.IsNullOrEmpty(ViewBag.Error) ?"d-none" : "")">@ViewBag.Error</div>
            <center>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn" />
                </div>
                <div class="edu_button">
                    <a asp-action="Index" class="btn btn-primary btn-lg hvr-underline-from-left">Back to List</a>
                </div>
            </center>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}