@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="services-breadcrumb-w3ls-agile">
    <div class="inner_breadcrumb">

        <ul class="short">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a><span>|</span></li>
            <li>Login</li>
        </ul>
    </div>
</div>
<div class="login-m_page_img">

    <img src="~/images/model.jpg" alt=" " class="img-responsive" />

</div>
<div class="login-m_page">
    <h3 class="sign">Sign In</h3>
    <div class="login-form-wthree-agile">
        <form id="account" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <Center>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </Center>
            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
        </form>
    </div>
    <center>
        <div class="login-social-grids">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
    </center>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
