@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<div class="services-breadcrumb-w3ls-agile">
    <div class="inner_breadcrumb">
        <ul class="short">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a><span>|</span></li>
            <li><a asp-area="Admin" asp-controller="Role" asp-action="Index">Role</a><span>|</span></li>
            <li>Edit</li>
        </ul>
    </div>
</div>
<div class="login" style="padding-left:200px;padding-right:200px;padding-bottom:50px;padding-top:50px">
    <h3 class="sign" style="background-color:aliceblue">Edit Role: @Html.DisplayFor(model => model.Name)</h3>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ConcurrencyStamp" />
            <input type="hidden" asp-for="NormalizedName" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <center>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn" />
                </div>
                <div class="edu_button">
                    <a asp-action="Index" class="btn btn-primary btn-lg hvr-underline-from-left">Back to List</a>
                </div>
            </center>
        </form>
    </div>
</div>
<br />

<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
