@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}
<head>
    <title>@ViewData["Title"] - CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Stretch a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/css/about.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/css/team.css" type="text/css" media="all" />
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
</head>
<div class="banner_bottom">
    <div class="container">
        <h3 class="headerw3">About Us</h3>

        <div class="inner_sec_w3_agileinfo">
            <div class="ab_info">
                <img src="~/images/banner1.jpg" alt=" " class="img-responsive">
                <h4>GREENWICH UNIVERSITY</h4>
                <p class="sub_p">
                    Greenwich University was formed on the basis of the association between Greenwich University (UK) and FPT Education
                    Organization since 2009 with more than 12,000 students from 12 countries around the world who have been studying.
                    Training content, faculty and facilities are accredited and quality recognized by UK experts and the University of Greenwich.
                    Graduates will receive a Bachelor's degree (Bachelor's Degree) issued by the University of Greenwich, which is globally valid.
                    With this degree, students can continue to study for a Master or Doctorate in many countries around the world.
                </p>
            </div>

            <div class="news-main">
                <div class="col-md-6 news-left">
                    <div class="col-md-6 b_left">
                        <img src="~/images/g1.jpg" alt=" " class="img-responsive">
                    </div>
                    <div class="col-md-6 b_left">
                        <img src="~/images/g4.jpg" alt=" " class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 news-right">
                    <h4>WELCOME FROM GREENWICH UNIVERSITY</h4>
                    <p class="sub_p">
                        Personally, I have a great honor to run the operations of Greenwich University, one of the largest and most respected universities in London, UK.
                        With a long history and a long history of over 100 years, the University has one of the most famous campuses in the world.                        
                    </p>
                    <p>
                        Predicting future trends is one of the key roles of universities. Currently, our research and teaching activities have earned a reputation both nationally
                        and internationally with contributions to science and society. Greenwich University staff are regularly awarded with prestigious awards, affirming the leading
                        role of the university staff in the academic world. Our outstanding students and outstanding alumni come from all walks of life and many cultures. It is their passion
                        for learning and seeking knowledge at the University of Greenwich that makes them different.                      
                    <p>
                        Welcome to Greenwich University and hopefully one day you will be part of this growing community.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //about -->

<div class="sec_video">
    <div class="container">
        <div class="about-main about1">
            <div class="col-md-4 about-gd">
                <div class="about-sub-gd">
                    <h4>IGH SCHOOL GRADUATION</h4>
                    <p>
                        Admission according to high school transcripts:
                        1. Direct admission with candidates who satisfy one of the following two conditions:
                        Final grade 11 or 12 grade> 6.5 points
                        Overall grade 11 or 12 grade in Math or English or Computer Science> 7.0 points                      
                    </p>
                    <p>
                        2. For candidates not in the direct admission category, transcripts will be considered and entrance interview.
                    </p>
                </div>
                <div class="about-sub-gd">
                    <h4>ENGLISH FOR PREPARATION</h4>
                    <p>
                        •  Students take English tests and are ranked according to the appropriate level.                        
                    </p>
                    <p>
                        • Students with an IELTS 6.0 or equivalent certificate in English will go straight to the mainstream course.
                    </p>
                    <p>
                        Training time: 0-10 months
                    </p>
                </div>
                <div class="about-sub-gd">
                    <h4>KEY PHASE - BTEC LEVEL 5 HND PEARSON</h4>
                    <p>
                        Specializations:                     
                    </p>
                    <p>
                        • Information Technology
                    </p>
                    <p>
                        • Graphic design
                    </p>
                    <p>
                        • Business Administration, with 4 specializations:
                    </p>
                    <p>
                        - Business Administration (General)
                    </p>
                    <p>
                        - Marketing Management (Marketing)
                    </p>
                    <p>
                         - Event Management (EventManagement)
                    </p>
                    <p>
                        - Communication Management (PR - Communication)
                        Bilingual training
                    </p>
                    <p>
                        Training time: 2 years
                    </p>
                </div>
            </div>
            <div class="col-md-4 about-gd1">
                <img src="~/images/video.jpg" class="img-responsive" alt="">
                <img src="~/images/video1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-4 about-gd ab-right">
                <div class="about-sub-gd">
                    <h4>OJT (ON THE JOB TRAINING)</h4>
                    <p>
                        Practical internships at enterprises, students can:         
                    </p>
                    <p>
                        • Interview and internship at companies of FPT Corporation or partner enterprises
                    </p>
                    <p>
                        • Assigned real jobs and projects as probationers
                    </p>
                    <p>
                        • Professional work skills training
                    </p>
                    <p>
                        Practice time: 4 months
                    </p>
                </div>
                <div class="about-sub-gd">
                    <h4>INTENSIVE STAGE - UNIVERSITY OF GREENWICH (UK)</h4>
                    <p>
                        • Graduates receive a Bachelor's degree from the University of Greenwich (UK)                         
                    </p>
                    <p>
                        • 100% English training
                    </p>
                    <p>
                        • 1 year training period.
                    </p>
                </div>
                <div class="about-sub-gd">
                    <h4>JOB</h4>
                    <p>
                        • Graduates of Greenwich University  FPT  are welcome to work at FPT Corporation 
                        (with 7 member companies and nearly 30,000 staff members) and hundreds of enterprises, 
                        partner groups in Vietnam as well as around the world. gender.
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--/video-->
<!-- /projects -->
<div class="banner_bottom">
    <div class="container">
        <h3 class="headerw3">Student face</h3>
        <div class="inner_sec_w3_agileinfo">
            <div class="col-md-3 team_grid_info">
                <img src="~/images/t1.jpg" alt=" " class="img-responsive" />
                <h3>Le Tam Trieu Dang </h3>
                <p>
                    Major: Business Administration
                </p>

                <div class="team_icons">
                    <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>

                    </ul>
                </div>

            </div>
            <div class="col-md-3 team_grid_info">
                <img src="~/images/t2.jpg" alt=" " class="img-responsive" />
                <h3>Dao Thi Thanh Binh </h3>
                <p>
                    Major: Marketing Management
                </p>

                <div class="team_icons">
                    <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3 team_grid_info">
                <img src="~/images/t3.jpg" alt=" " class="img-responsive" />
                <h3>Nguyen Hong Son</h3>
                <p>
                    Major: Information Technology
                </p>

                <div class="team_icons">
                    <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>

                    </ul>
                </div>

            </div>
            <div class="col-md-3 team_grid_info">
                <img src="~/images/t4.jpg" alt=" " class="img-responsive" />
                <h3>Nguyen Anh Tu </h3>
                <p>
                    Major: Information Technology
                </p>

                <div class="team_icons">
                    <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>

                    </ul>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //projects -->
<!-- /stats -->
<div class="stats_test">
    <h3 class="headerw3 two">Our Stats</h3>
    <div class="inner_sec_w3_agileinfo">
        <div class="stats">
            <div class="stats_left counter_grid">
                <i class="fa fa-building-o" aria-hidden="true"></i>
                <p class="counter">145</p>
                <h4>Colleges & Universities</h4>
            </div>
            <div class="stats_left counter_grid1">
                <i class="fa fa-user" aria-hidden="true"></i>
                <p class="counter">365</p>
                <h4>Faculties</h4>
            </div>
            <div class="stats_left counter_grid2">
                <i class="fa fa-spinner" aria-hidden="true"></i>
                <p class="counter">563</p>
                <h4>Careers</h4>
            </div>
            <div class="stats_left counter_grid3">
                <i class="fa fa-smile-o" aria-hidden="true"></i>
                <p class="counter">1045</p>
                <h4>Happy Students</h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- //stats -->
<!--/banner_bottom-->
<div class="banner_bottom">
    <div class="banner_bottom_in">
        <h3 class="headerw3">This is the official website for Visit Greenwich.</h3>
        <p>Visit Greenwich is the Royal Borough of Greenwich Destination Management Company, a partnership based, not for profit, Community Interest Company.</p>
        <p>We work with partners large and small in and around the area – with visitor attractions, accommodation providers, transport operators, meetings and events venues, the hospitality and retail sectors and the travel trade and media.</p>
        <p>Visit Greenwich is a private/public partnership, led by a board of tourism professionals, representing different sectors of the industry, with an independent chair. We promote Greenwich and the surrounding area as a visitor destination and place to stay.</p>
        <p>Partners include the Royal Borough of Greenwich, Royal Museums Greenwich, Greenwich Foundation for the Old Royal Naval College, Greenwich Hospital (Greenwich Market), London Cruise Ports, Anschutz Entertainment Group, University of Greenwich, Docklands Light Railway, City Cruises, Cutty Sark, 
        Uber Boat by Thames Clippers, The Fan Museum, Greenwich Tavern, Emirates Air Line, Greenwich Tour Guides, Royal Greenwich Tours and Rivington Greenwich.</p>
        <iframe src="https://www.youtube.com/embed/3TVrTYlW1mg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
<!--//banner_bottom-->
<!--/what-wedo-->
<div class="what-wedo">
    <div class="container">
        <h3 class="headerw3 two"> Enrollment University Greenwich</h3>
        <div class="inner_sec_w3_agileinfo">
            <div class="wedo-main">
                <div class="wedo-right">

                </div>
                <div class="wedo-left">
                    <h4 class="sub-hdng">Application form</h4>
                    <p class="paragraph">
                        Greenwich University admission according to quota - Priority is given to filing early
                    </p>
                    <p class="paragraph">
                        Direct admission to candidates who satisfy one of the following conditions:
                    </p>
                    <p class="paragraph">
                        - Overall score of grade 11 or grade 12 HK1> = 6.5
                    </p>
                    <p class="paragraph">
                        - Or the final score of grade 11 or grade 12 in one of three subjects: Math, English, Computer Science> = 7.0
                    </p>
                    <p class="paragraph">
                        - Candidates not in the category of direct admission will review the transcript and interview.
                    </p>

                        <h4 class="sub-hdng">Application for admission</h4>
                    <p class="paragraph"><span class="fa fa-check" aria-hidden="true"></span>01 Application form for admission</p>
                    <p class="paragraph"><span class="fa fa-check" aria-hidden="true"></span>01 Copy of birth certificate (photo or scan)</p>
                    <p class="paragraph"><span class="fa fa-check" aria-hidden="true"></span>01 National High School Exam Results Certificate or Certificate of temporary graduation or diploma (photo or scan)</p>
                    <p class="paragraph"><span class="fa fa-check" aria-hidden="true"></span>01 Copy of high school transcripts (photo or scan)</p>
                    <p class="paragraph"><span class="fa fa-check" aria-hidden="true"></span>01 Copy of ID card (photo or scan)</p>
                    <p class="paragraph"><span class="fa fa-check" aria-hidden="true"></span>02 3x4 photos</p>
                    <p class="paragraph"><span class="fa fa-check" aria-hidden="true"></span>English language certificate (if applicable)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tesimonials">
    <div class="container">
        <h3 class="headerw3 two">Testimonials</h3>
        <div class="inner_sec_w3_agileinfo">
            <div class="test_grid_sec">
                <div class="col-md-offset-2 col-md-8">
                    <div class="carousel slide two" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators two">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">

                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="test_grid">
                                        <div class="col-sm-3 text-center test_img">
                                            <i class="fa fa-user" aria-hidden="true"></i>

                                        </div>
                                        <div class="col-sm-9 test_img_info">
                                            <p>
                                                Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                                auctor nec lacus ut tempor. Mauris.
                                            </p>
                                            <h6>Sara Lisbon</h6>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="test_grid">
                                        <div class="col-sm-3 text-center test_img">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-9 test_img_info">
                                            <p>
                                                Lorem ipsum dolor sit amet. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                                auctor nec lacus ut tempor. Mauris.
                                            </p>
                                            <h6>Jane Wearne</h6>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="test_grid">
                                        <div class="col-sm-3 text-center test_img">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-9 test_img_info">
                                            <p>
                                                Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                                auctor nec lacus ut tempor. Mauris.
                                            </p>
                                            <h6>Alice Williams</h6>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script type="text/javascript" src="~/js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!--search-bar-->
<script src="~/js/main.js"></script>
<!--gallery -->
<script src="~/js/jquery.chocolat.js"></script>
<!--light-box-files -->
<script type="text/javascript">
		$(function () {
			$('.gallery-grid1 a').Chocolat();
		});
</script>
<!-- //gallery -->
<script src="~/js/responsiveslides.min.js"></script>
<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
</script>
<!--//search-bar-->
<link rel="stylesheet" type="text/css" href="~/css/easy-responsive-tabs.css " />
<script src="~/js/easyResponsiveTabs.js"></script>
<!--Plug-in Initialisation-->
<script type="text/javascript">
		$(document).ready(function () {

			//Vertical Tab
			$('#parentVerticalTab').easyResponsiveTabs({
				type: 'vertical', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				tabidentify: 'hor_1', // The tab groups identifier
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#nested-tabInfo2');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
		});
</script>
<!--/script-->
<!-- stats -->
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.countup.js"></script>
<script>
		$('.counter').countUp();
</script>
<!-- //stats -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="~/js/move-top.js"></script>
<script type="text/javascript" src="~/js/easing.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
</script>
<!-- start-smoth-scrolling -->

<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script type="text/javascript" src="~/js/bootstrap-3.1.1.min.js"></script>
