@{
    Layout = "_Layout";
    ViewData["Title"] = "App";
}


    <!--/short-->
    <div class="services-breadcrumb-w3ls-agile">
        <div class="inner_breadcrumb">
            <ul class="short">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a><span>|</span></li>
                <li>App</li>
            </ul>
        </div>
    </div>
    <!--//short-->
    <!--/inner_connectent-->
    <div class="banner_bottom">
        <div class="container">
            <!--/mobile-app -->
            <div class="inner_sec_w3_agileinfo">
                <div class="col-md-6 app-info">
                    <h3 class="headerw3">Mobile App</h3>
                    <p class="para_vl">
                        Nam arcu mauris, tincidunt sed convallis non, egestas ut lacus. Cras sapien urna, malesuada ut varius consequat, hendrerit
                        nisl. Aliquam vestibulum, odio non ullamcorper malesuada.
                    </p>
                    <div class="app-devices">
                        <a href="#"><img src="~/images/app.png" alt=""></a>
                        <a href="#"><img src="~/images/app1.png" alt=""></a>
                        <div class="clearfix"> </div>
                    </div>
                    <p class="para_vl"><a href="#">Click here </a>to know more about apps.</p>
                </div>
                <div class="col-md-6 app-img">
                    <img src="~/images/app_mb.png" alt=" " class="img-responsive">
                </div>
                <div class="clearfix"></div>
                <!--//mobile-app -->
            </div>
        </div>
    </div>
    <!--//inner_connectent-->
   